@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&display=swap");

body {
  background-color: #fb6b6b;
  font-family: "Recursive", sans-serif;
  color: #333333;
  height: 100vh;
}

.green-bg {
  background-color: #2fbe34;
}

.orange-bg {
  background-color: #ff922e;
}

.red-bg {
  background-color: #ff3030;
}

.green {
  color: #2fbe34;
}

.orange {
  color: #ff922e;
}

.red {
  color: #ff3030;
}

.text-scratch {
  text-decoration: line-through;
}
